/.git/

/.bundle

/config/master.key
/config/credentials/*.key

/.env
!/env.example

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/.keep

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

/node_modules
/app/assets/builds7*
!/app/assets/builds/.keep

/public/assets